.statistics-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem 1rem;
}
.general-statistics {
    display: flex;
    height: 200px;
    padding: 1rem;
    gap: 10px;
}

.specific-statistics {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hotels-statistics {
    display: flex;
    height: 200px;
    gap: 10px;
}

.countries-statistics {
    display: flex;
    gap: 10px;
    height: 200px;
}
