.dialog-content {
    color: var(--text-color);
    padding-bottom: 1rem;

}

.dialog-content span {
    font-weight: bold;
    font-size: 20px;
}

.dialog-back-btn {
    border: none;
    color: gray;
}

.dialog-back-btn:hover {
    scale: 1;
    color: gray;
}

.dialog-accept-btn {
    background-color: var(--danger);
}

.dialog-accept-btn:hover {
    background-color: #FF204E;
    scale: 1;
}
