.box{
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.admins-section {
    display: grid;
    grid-template-rows: 60px 10px 1fr;
    grid-template-areas: 
    "admins-header"
    "line"
    "admins-list";
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.admins-section hr {
    grid-area: line;
    width: 100%;
}
.admins-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: admins-header;
}
.admins-header h1{
    font-size: 32px;
    font-weight: bold;
}

.admins-header-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


.admins-list {
    grid-area: admins-list;
    padding: 0.5rem 0rem;
    font-size: 24px;
}

.loading {
    margin-top: 100px;
}




