.main-header{
    grid-area: header;
    color: white;
    padding: 0.5rem 1.5rem;
    background-color: rgb(32,94,97);
    z-index: 1000;
}


.dashboard-bar {
    /* max-width: 1400px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-bar-btns{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

