
.announcements-list { 
    list-style: none;
    padding: 0;
    margin-top: 16px;
    max-width: 1200px;
}

.announcements-options {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}

.option-btn {
    color: var(--text-color);
}

.filter-active {
    background-color: var(--date-color);
    color: white;
}



.loading {
    margin-top: 100px;
}

