.sidebar-item {
    box-sizing: border-box;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1.2rem 2rem;
    gap: 10px;
    transition-duration: 400ms;
    text-decoration: none;
}

.sidebar-item:nth-child(1) {
    color: white;
    font-size: 16px;
}

.sidebar-item h4 {
    color: white;
    font-size: 16px;
}

.sidebar-item.active{
    background-color: var(--sidebar-active-color);
}

.sidebar-item:hover:not(.active){
    margin-left: 6px;
    background-color: var(--sidebar-active-color);
}


@media (max-width: 925px){ 
    .sidebar-item h4 {
        display: none;
    }
    .sidebar-item:nth-child(1) {
        font-size: 24px;
        padding: 10px 0px;
    }
    .sidebar-item {
        justify-content: center;
        width: 100%;
    }
}