.hotels-section {
    display: grid;
    grid-template-rows: 60px 10px 1fr;
    grid-template-areas: 
    "hotels-header"
    "line"
    "hotels-content";
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.hotels-section hr {
    grid-area: line;
    width: 100%;
}
.hotels-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: hotels-header;
}

.hotels-header h1{
    font-size: 32px;
    font-weight: bold;
}

.hotels-header-options {
    display: flex;
    align-items: center;
}

.hotels-content {
    grid-area: hotels-content;
    margin-block: 1rem;
    font-size: 24px;
}

.option-btn {
    color: var(--text-color);
}

.active {
    background-color: var(--date-color);
    color: white;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    gap: 8px;
    margin-bottom: 1rem;
}
.filter h3{
    margin: 0;
}

.hide {
    display: none;
}

.sort {  
    text-align: start;
    font-size: 16px;
    gap: 8px;
    margin-bottom: 1rem;
    background-color: var(--card-color);
    padding: 1rem;
    border-radius: 10px;
}

.sort h3,h4 {
    margin: 0;
}

.sort h3 {
    margin-bottom: 1rem;
}



.loading {
    margin-top: 100px;
}




