.hotel-details-section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: var(--text-color);
}

.hotel-details{
    display: flex;
    align-items: start;
    gap: 10px;
}

.hotel-image img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.hotel-info h2,.hotel-info h3, .hotel-info div {
    margin: 0;
    text-align: start;
}

.hotel-info h2 {
    font-size: 32px;
}

.hotel-info h3 {
    color: var(--date-color);
    margin-top: 8px;
    font-weight: 500;
}

.hotel-info h3 span {
    font-weight: bold;
}
.hotel-info h2 span {
    font-weight: 500;
}

.hotel-info div {
    margin-top: 16px;
}

.hotel-description {
    text-align: start;
    font-size: 20px;
}

.hotel-description p {
    margin: 0;
    font-size: 16px;
}

.hotel-rooms {
    text-align: start;
    font-size: 20px;
}

.hotel-rooms h2 span {
    font-weight: 500;
    font-size: 16px;
}

.rooms-list{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.hotel-room-card {
    background-color: var(--card-color);
    padding: 1rem;
    border-radius: 10px;
}

.room-section{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--date-color);
}

.room-section-title{
    font-size: 1.2rem;
    padding-right: 0.5rem;
    border-right: 1px solid var(--date-color);
    color: var(--primary-color);
}

.room-section-content{
    font-size: 1rem;
    font-weight: 500;
}
