:root {
  --primary-color: #205e61;
  --secondary-color: #ffb156;
  --text-color: black;
  --background: white;
  --danger: rgb(213, 1, 1);
  --card-color: rgb(234, 234, 234);
  --date-color: rgba(110, 110, 110, 0.721);
  --sidebar-active-color: rgb(56, 125, 129);
}

[theme-mode="dark"] {
  --primary-color: rgb(12, 67, 70);
  --text-color: white;
  /* --background: rgb(23, 23, 23); */
  --background: #1a1d22;
  --danger: #dc143c;
  --card-color: #4a4c52;
  --date-color: rgba(230, 229, 229, 0.361);
  --sidebar-active-color: rgb(28, 104, 108);
}

::selection {
  background-color: var(--secondary-color);
  color: white;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  font-size: 16px;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: #ffb156;
}
