


.primary-btn{
    padding: 0.7rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #205E61;
    transition-duration: 400ms;
    cursor: pointer;
}

.primary-btn:hover {
    scale: 1.125;
    background-color: #ffb156;
}

.primary-btn:active {
    background-color: grey;
}



.secondary-btn {
    padding: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 400ms;
    border: 3px solid #205E61;
    background-color: transparent;
    color: #205E61;
}

.secondary-btn:hover {
    scale: 1.125;
    border-color: #ffb156;
    color: #ffb156;
}

.secondary-btn:active {
    border-color: grey;
    color: grey;
}