.announcements-section {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "announcements-header"
    "announcements-content";
    color: var(--text-color);
    padding: 0.5rem 1rem;
}

.announcements-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: announcements-header;
}
.announcements-header h1{
    font-size: 32px;
    font-weight: bold;
}


.announcements-content {
    grid-area: announcements-content;
    font-size: 24px;
}

.loading {
    margin-top: 100px;
}




