
.announcements-list { 
    list-style: none;
    padding: 0;
    margin-top: 16px;
    max-width: 1200px;
}

.announcement-btn {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 10px solid var(--card-color);
}

.announcements-options {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}

.option-btn {
    color: var(--text-color);
}

.filter-active {
    background-color: var(--date-color);
    color: white;
}

.accept-announcement-btn {
    background-color: var(--primary-color);
}
.deny-announcement-btn {
    background-color: var(--danger);
}
.details-announcement-btn {
    background-color: var(--card-color);
}

.deny-announcement-btn:hover {
    background-color: #FF204E;
}

.accept-announcement-btn:hover {
    background-color: var(--sidebar-active-color);
}

.details-announcement-btn:hover {
    background-color: grey;
}

.loading {
    margin-top: 100px;
}


@media (max-width: 1200px) {
    .accept-announcement-btn span {
        display: none;
    }
    .deny-announcement-btn span {
        display: none;
    }
    .details-announcement-btn span {
        display: none;
    }
}