.main-header{
    grid-area: header;
    color: white;
    padding: 0.5rem 0.2rem;
    /* background-color: rgb(32,94,97); */
    background-color: var(--primary-color);
    z-index: 1000;
}

.logo {
    font-family: "Quattrocento", serif;
    font-weight: 600;
    font-style: normal;
}

.dashboard-bar {
    /* max-width: 1400px; */
    margin: auto;
    display: flex;
    margin-inline: 2rem;
    justify-content: space-between;
    align-items: center;
}

.dashboard-bar div h2 {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.dashboard-bar-btns{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

