/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffb156;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffb156;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */

  .label{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .input {
    position: absolute;
    opacity: 0;
  }

  .moon{
    font-size: 24px;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0,0,0,.5));
    transition: 1s ease;
    transition-delay: .8s;
  }

  .input:checked~.moon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
  }

  .sun{
    position: absolute;
    font-size: 24px;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0,0,0,.5));
    transform: scale(0);
    transition: 1s ease;
  }

  .input:checked~.sun {
    transition-delay: .8s;
    transform: scale(1) rotate(360deg);
  }

  .toggle{
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    background-color: #1a1d22;
    border-radius: 50%;
    box-shadow: 
    inset 0 8px 60px rgba(0,0,0,.1),
    inset 0 8px 8px rgba(0,0,0,.1),
    inset 0 -4px 4px rgba(0,0,0,.1),;
    z-index: -1;
    transition: 1s;
  }

  .input:checked~.toggle{
    background-color: white;
  }
